{
  "deviceId": 0,
  "manufacturerId": null,
  "modelId": null,
  "firmwareVersion": null,
  "hardwareVersion": "RaspberryPi B+",
  "macAddress": "B8:27:EB:7E:3C:F4",
  "parameters": [
    {
      "name": "internalQueueSize",
      "parameterType": "NUMBER",
      "value": 10000,
      "readonly": false
    },
    {
      "name": "repeatValuesAfter",
      "parameterType": "NUMBER",
      "value": 3600000,
      "readonly": false
    }
  ],
  "sensors": [
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/pt1"
      },
      "type": "POWER_PT1",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/pt2"
      },
      "type": "POWER_PT2",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/ct1"
      },
      "type": "POWER_CT1",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/ct2"
      },
      "type": "POWER_CT2",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/ac"
      },
      "type": "POWER_AC",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "power",
        "path": "meterbox/sensor/power/ap"
      },
      "type": "POWER_AP",
      "parameters": null
    },
    {
      "sensorId": 0,
      "deviceMac": null,
      "topic": {
        "type": "gas",
        "path": "meterbox/sensor/gas/c"
      },
      "type": "GAS_METER",
      "parameters": null
    }
  ],
  "actuators": null
}